body {
    background-color: orange;
    color: black;
}

header {
    padding: 5rem;
    min-height: 8rem;
}

h1 {
    color: black;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
    background-color: brown;
}

.article-container {
    max-width: 35%;
    margin-left: 30%;
    padding-bottom: 3rem;
    background-color: rgb(202, 146, 155);
}

.article-container:last-child {
    padding-bottom: 0;
}

article {
    border: 3px solid white;
}

footer {
    min-height: 8rem;
}

a {
    color: black;
}
